body {
  margin: 0;
  font-family: 'Courier Next',
               courier,
               monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(to left, #000000, #4d4d4d);
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
	cursor: pointer;
}
